@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "mixins";
@import "variables";
@import "header";
@import "actionsDropdown";
@import "sidebar";
@import "compass";
@import "layer";

*{
	box-sizing: border-box;
}

.sr-only{
	display:block;
	height:1px;
	width:1px;
	overflow:hidden;
	margin:0;
}

body{
	padding:10px;
	margin:0;
	display:flex;
	align-items:stretch;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	flex-direction:column;
}

main{
	flex:1;
	margin:0 50px;
	display:flex;
	align-items: stretch;
	justify-content: stretch;
	position:relative;
	flex-direction: column;
	overflow: hidden;

	.reminder{
		display: block;
		text-align: center;
		padding:0.5rem 0;
	}

	@include max-query($d-max-small){
		margin:0;
	}
}

button{
	font-family: inherit;
	font-size: inherit;
}